.form-control {
    background-color: #f4f7fa !important;
    border: 0px !important;
    border-bottom: 1px solid rgba(130, 139, 178, 0.3) !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 37px !important;
    background-color: #f4f7fa !important;
    border: 0px !important;
    border-bottom: 1px solid rgba(130, 139, 178, 0.3) !important;
    border-radius: .25rem !important;
}
.select2-container--default .select2-selection--single {
    border: 0px !important;
    border-radius: 0px !important;
}
.form-group label {
    font-family: "ubuntu-bold", sans-serif;
}
.card .card-title {
    font-family: "ubuntu-bold", sans-serif;
    /*margin-bottom: 0.75rem !important;
    margin-top: -15px !important;*/
    color: #5984af !important;
}
.forms-sample .row {
    margin-bottom: -24px !important;
}
/*.forms-sample .row .row {
    margin-top: -24px !important;
}*/
.page-title {
    color: #9a55ff !important;
}
.btn.btn-icon {
    width: 34px !important;
    height: 34px !important;
    padding: 5px 10px !important;
}
.btn.btn-xs {
padding: 4px 8px !important;
}
.page-header {
    margin: 0px 0px 4px !important;
}
.content-wrapper {
    padding: 0.75rem 0.25rem !important;
}
.card .card-body {
    padding: 12px !important;
}
.breadcrumb {
    padding: 0px 0px 4px 0px !important;
}
table thead tr{
    background-color: antiquewhite;
}
.action-buttons {
    display: flex;
    gap: 5px; /* Adjust the gap between buttons as needed */
}

.action-buttons form {
    display: inline-block;
    margin: 0;
}
.form-control[type="file"] {
    margin-bottom: 30px !important;
}
.form-check {
    padding-left: 2.25rem !important;
}



